<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="../assets/erwin.jpg"> -->
</div>

<div style="position: relative" class="margin">
  <video id="videoEl" autoplay muted>
  </video>
  <canvas id="overlay" style="position: absolute;left:0;top:0;">
    </canvas>
</div>
<!-- <video width="320" height="240" controls>
  <source src="../assets/example.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video> -->
<!-- <webcam></webcam> -->
<router-outlet></router-outlet>